<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
   {% block title %}
    Most Liked Fossils
    {% endblock %}
    </title>
  </head>
  
  <body>
  {% block content %}
    {% if array %}

      {% for fossil name %}    
        <div class="fossil-div"></div>
          <h3>{{ fossils.name }}</h3>
      {% endfor %}    
         
      {% for fossil likes %}   
        <div class="fossil-div"></div>
          <h2>Liked {{ fossils.num_likes }} times.</h2>
      {% endfor %}   
         
         
      {% for fossil image %}
        <div class="fossil-div"></div>
          <img src="{{ fossils.img }}" />
      {% endfor %}
         
   {% endif %}
                 
  {% endblock %}
  </body>
</html>
